.navbar {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
    background-color: white;
    z-index: 4;
}

.navbar .logo {
    width: 105px;
}

.navbar .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #49557e;
    width: 18vw;
    padding: 10px;
    border-radius: 10px;
}

.navbar .search-bar img {
    width: 22px;
}

.navbar .search-bar input {
    border: none;
    outline: none;
    width: 100%;
}


.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-cart-icon img {
    width: 25px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid green;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #f2fff6;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #497e55;
}

.navbar li {
    cursor: pointer;
}

.navbar-cart-icon {
    position: relative;
    cursor: pointer;
}

.navbar-cart-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: green;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.explore-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  z-index: 1000;
  min-width: 180px;
}

.dropdown-menu .active {
    background-color: rgb(169, 233, 169);
}

.explore-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: #2c3e50;
  transition: background 0.3s;
}

.dropdown-item:hover {
  background-color: #f8f8f8;
}

.responsive-menu {
  display: none;
  position: fixed; 
  top: 100px; 
  right: 20px;
  width: 40%;
  background-color: white;
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 10000;
}

.responsive-menu.active {
  display: block;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon img {
  width: 24px;
}

.responsive-menu-title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  color: #2c3e50;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f9f9f9;
}

.responsive-menu .dropdown-item {
  padding: 12px 20px;
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.3s;
}

.responsive-menu .dropdown-item:hover {
  background-color: #f2f2f2;
}

.close-icon {
  position: relative;
  left: 0.5rem;
  bottom: 0.5rem;  
  cursor: pointer;
}


/* Responsive */
@media screen and (max-width: 1320px) {
    .navbar .search-bar {
        width: 20vw;
    }
}
@media screen and (max-width:1220px) {
    .navbar .logo {
        width: 90px;
    }

    .navbar-menu {
        display: none;
    }

    .navbar .search-bar {
        width: 30vw;
    }

    .menu-icon {
        display: block;
    }

    .navbar-menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .navbar .logo {
        width: 80px;
    }

    .navbar .search-bar {
        display: none;
    }
    .navbar button {
        font-size: 12px;
        padding: 10px 10px;
        width: 20vw;
    }

    .navbar-right {
        margin-left: 20vw;
    }
}

@media screen and (max-width: 468px) {
    .navbar-right {
        margin-left: 10vw;
        gap: 20px;
    }
}
